@tailwind base;
@tailwind components;
@tailwind utilities;

@layer container {
  .container {
    width: 85%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .hero {
    background-image: linear-gradient(
        to bottom right,
        rgba(0, 0, 0, 0.7) 60%,
        rgba(24, 188, 51, 0.4)
      ),
      url('/assets/grocery.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
  }
}
